@model Company_Site.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";

}

@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Username)
            @Html.TextBoxFor(model => model.Username, new { placeholder = "Username", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Username)
        </div>

        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.Password)
            @Html.PasswordFor(model => model.Password, new { placeholder = "Password", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password)
        </div>

    </div>
    @Html.ValidationSummary()
    <button type="submit" class="btn btn-success">Login</button>

}
